[user]
	name = Angelos Kyriacou
	email = angkyria@podilates.com
	username = angkyria
[color]
  	diff = auto
  	status = auto
  	branch = auto
	ui = auto
[color "status"]
	added = yellow reverse
	changed = green
	untracked = cyan
[core]
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[push]
	default = simple
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process
[merge]
	tool = vimdiff
	conflictstyle = diff3
